*pycache*
Data/Font
Data/PuzzleData
Data/RawData
*._*
output/*
sample/*
Solver/checkpoints/*
Raw_output/*
Mangazero/cache/*
Mangazero/output/*
Mangazero/raw/*
Mangazero/ordering_dataset
Mangazero/4panel_dataset
Data/*
Solver/checkpoints*
.venv